@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.linkColorChange {
  color: #fff;
  text-decoration: none;
}
.linkDiv p a {
  text-decoration: none;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  width: 92%;
  border-radius: 5px;
  color: #7d6498;
  text-transform: uppercase;
  height: 14px;
  text-align: center;
  margin: 0px;
  padding: 12px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-image: url(./images/uploadIcon.svg);
  background-repeat: no-repeat;
  background-position: 108px center;
}
/* .custom-file-upload .MuiSvgIcon-root-295 {
  vertical-align: middle;
  padding-right: 9px;
  margin-top: -5px;
} */
.custom-file-upload:hover {
  background: #7d6498;
  color: #fff;
  background-image: url(./images/uploadIcon.svg);
  background-repeat: no-repeat;
  background-position: 108px center;
  color: #fff;
}
.uploadFailedWrapper .uploadFailedTxt {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: red;
  padding: 20px 0px 0;
}
.vkg label {
  color: #a0a0a0 !important;
  padding: 5px 0 0 10px;
}
.uploadImagPreview {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.vkg .MuiInputBase-input {
  padding-left: 10px !important;
  padding-bottom: 15px !important;
  color: #333333;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.vkg .MuiFormLabel-root.Mui-focused,
.DateBith .MuiFormLabel-root.Mui-focused {
  color: #a0a0a0 !important;
  padding: 10px;
}
.chidyaIcon {
  float: left;
  margin: 3px 24px 0 18px;
}
.appBarTxt {
  font-size: 15px !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500 !important;
}
.panCardWrapper .MuiInput-underline:before {
  border-bottom: none !important;
}
.verifiedMsg,
.invalidMsg {
  color: green;
  font-size: 10px;
  padding-top: 5px;
  padding-left: 10px;
}
.invalidMsg {
  color: red !important;
}
.otpNotMatchedTxt {
  font-size: 12px;
  color: red;
}
.DateBith {
  width: 100%;
  position: relative;
}
.DateBith .MuiInputLabel-animated {
  color: #a0a0a0;
  padding-left: 13px;
}

.noshadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.headerWrapper {
  background: #eb6024 !important;
  box-shadow: none !important;
}
.helpIcon {
  float: right !important;
}

.panCardWrapper {
  width: 92%;
  margin: 0 auto;
}
.vkg {
  border: 1px solid #e7eaf1 !important;
  border-radius: 3px;
}
.vkg:hover,
.calenderBox:hover {
  border: 1px solid #7d6498 !important;
}
.vkg .MuiFilledInput-input {
  text-transform: uppercase !important;
  color: #a0a0a0;
  font-family: "Open Sans", sans-serif;
  padding-top: 20px !important;
}
.vkg .MuiFilledInput-root {
  background: white !important;
}
.vkg .MuiFilledInput-underline:before {
  border-bottom: none !important;
}
svg.calenderIcon {
  position: absolute;
  right: 25px;
  top: 43%;
  color: #ddd;
}
.calenderBox {
  width: 92%;
  border-radius: 3px;
  border: 1px solid #e7eaf1 !important;
  height: 53px !important;
}
.calenderBox .MuiInput-underline:before {
  border-bottom: none !important;
}
.calenderBox .MuiInputBase-input {
  padding-left: 10px;
  padding-top: 12px;
}
.calenderBox .MuiInputLabel-shrink {
  padding: 10px 0 0px 13px;
}
.MandatoryField {
  color: #e02020;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  padding: 34px 0px;
  float: right;
}
.cumulativeWrapper .MandatoryField {
  padding: 0 7px 0 0;
}
.instruction,
.instruction2 {
  /* width: 100%; */
  margin: 10px auto !important;
  display: block;
  font-size: 12px !important;
  color: #333333;
  /* background: #f8f8f8; */
  padding: 26px 20px;
}
.instruction2 {
  background: none !important;
  padding-left: 0 !important;
  color: #6d7278;
  width: 63%;
  float: left;
}

button.proceedButton,
button.proceedButton:hover,
button.proceedButtonDisable,
button.proceedButtonDisable:hover {
  width: 92%;
  margin: 0 auto 12px !important;
  display: block !important;
  position: absolute !important;
  bottom: 0%;
  padding: 12px !important;
  left: 0;
  right: 0;
  background: #eb6024;
}
.App .MuiButton-contained.Mui-disabled {
  background: #bfbfbf !important;
  color: #f8f8f8 !important;
}

.MuiFormControl-marginNormal {
  margin-bottom: 0 !important;
}
.editIcon svg {
  font-size: 1.2em;
  color: #7d6498;
  vertical-align: text-bottom;
}
.marLeftNone {
  margin-left: 0 !important;
}
.lakhTxt {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: #333333;
  margin-bottom: 0;
}
.interestBtns {
  margin-top: 12px !important;
}
.interestBtns,
.cumulativeBtns {
  width: 92%;
  margin: 0 auto 10px;
  clear: both;
}
.interestBtns .MuiButton-label,
.cumulativeBtns .MuiButton-label {
  display: block;
}
.interestBtns .MuiButton-label span,
.cumulativeBtns .MuiButton-label span {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 11px;
  color: #6d7278;
  text-transform: capitalize;
}
.payout {
  font-size: 12px;
  color: #6d7278;
  display: inline-block;
}
.buttonStyle {
  border: 1px solid #e7eaf1;
  width: 30%;
  padding: 1% 0%;
  float: left;
  margin: 1.5%;
  border-radius: 5px;
  text-align: center;
}
.buttonStyle:hover {
  background: #7d6498 !important;
}
.hoverColor {
  border: 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin: 1%;
  width: 46%;
  float: left;
  text-align: center;
}

.strongTxt,
.hoverOnly {
  font-weight: bold;
  color: #212121;
  font-size: 12px;
  margin: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.hoverOnly,
.hoverOnly2 {
  color: #6d7278;
}

.hoverOnly2 {
  font-size: 12px !important;
  margin: 0;
  text-transform: capitalize;
}
button.editIcon {
  border: none;
  outline: none;
  background: none;
  padding: 2px;
  position: absolute;
  right: 17px;
  top: 8px;
  color: #7d6498;
  font-size: 14px;
  font-weight: 600;
}
button.editIconInvestment {
  float: right;
  border: none;
  outline: none;
  background: none;
  padding: 2px;
  color: #7d6498;
}
button.editIconInvestment svg {
  font-size: 14px;
}

p.purpleColor,
p.darkBlk2 {
  color: #7d6498 !important;
  font-size: 15px !important;
  font-weight: 600;
}
p.darkBlk2 {
  color: #333333 !important;
  text-transform: capitalize;
}

.MuiButton-label .strongTxt:hover,
.MuiButton-label .hoverOnly:hover {
  color: white !important;
}
.interestBtns .makeStyles-root-1 > * {
  margin: 1% !important;
}

.interestBtns .MuiButton-containedPrimary {
  width: 31.5% !important;
  background: #fff;
  margin: 1%;
}
.interestBtns .MuiButtonBase-root.Mui-disabled {
  float: left;
}
.interestBtns .MuiButton-containedPrimary:hover {
  background-color: #7d6498 !important;
}

.cumulativeBtns .makeStyles-root-1 > * {
  float: left;
  margin: 8px 4px !important;
}

.CheckboxWrapper {
  width: 92%;
  margin: 20px auto 0;
  font-size: 12px;
  background: #e2e6f3;
  overflow: hidden;
  padding: 20px 16px;
  float: left;
}
.textWrapper {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
  margin: 0 auto;
  position: absolute;
  top: 199px;
  background: #fff;
  width: 92%;
  left: 0;
  right: 0;
  border-radius: 5px;
}
.textWrapper .MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 13textwrapperpx 10px 2px;
}
.yrDepositTxt {
  color: #6d7278;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  float: left;
  padding-left: 11px;
}
.numberTxt {
  color: #7d6498 !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  float: right;
  padding-right: 4px;
  padding-top: 10px;
}
.minMax .MuiSlider-root {
  color: #fff;
}
.minMax .MuiSlider-root {
  padding: 8px 0;
}
.minMax .MuiSlider-thumb {
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.minMax .MuiSlider-track,
.minMax .MuiSlider-rail {
  color: #7d6399;
}
.cumulativeWrapper .floatRite {
  float: right;
}
.greyBg {
  background: #f8f8f8;
  height: 100%;
  display: block;
  clear: both;
  padding: 40px 0 20px;
}
.tickIconWrapper {
  margin-bottom: 10px;
  overflow: hidden;
}
.bottomBtn .uploadDocsBtn {
  width: 93%;
  display: block;
  margin: 0 auto;
  background: #ed6010;
  color: #fff;
}
.cumulativeWrapper {
  overflow: hidden;
  margin: 81px 0px 0;
}
.checkboxFltLft {
  margin-left: 9px;
  float: left;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
}
.checkboxLeft {
  float: left;
  color: #212121;
  font-size: 12px;
}
.cumulativeBtns .marLeftZero,
.interestBtns .marLeftZero {
  margin-left: 0 !important;
}
.cumulativeBtns .MuiButton-containedPrimary {
  background-color: #fff;
  border: 1px solid #e7eaf1;
  margin: 2px 0;
  width: 46%;
}
.cumulativeBtns .MuiButton-containedPrimary:hover {
  background-color: #7d6498 !important;
  color: #fff !important;
}
.cumulativeBtns button.activeCalculatorBtn {
  background: #7d6498 !important;
  color: #fff !important;
  width: 47%;
  border: 1px solid #7d6498;
}

.interestBtns button.activeYearBtn {
  background: #7d6498 !important;
  color: #fff !important;
}

.cumulativeBtns .MuiButton-containedPrimary:hover p,
.interestBtns .MuiButton-containedPrimary:hover p,
.cumulativeBtns button.activeCalculatorBtn p,
.interestBtns button.activeYearBtn p {
  color: #fff !important;
}

.MuiButton-contained {
  box-shadow: 0px 3px 1px -2px rgba(63, 81, 181, 0.2),
    0px 2px 2px 0px rgba(63, 81, 181, 0.14),
    0px 1px 5px 0px rgba(63, 81, 181, 0.12) !important;
}

.selectedTxt {
  color: #6d7278;
  font-size: 10px;
}
.projectedValueWrapper {
  clear: both;
  overflow: hidden;
}
.valueBox {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 100px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.valueBox span {
  color: #7d6498;
  font-size: 28px;
  text-align: center;
}
.authoriseTxt {
  color: #6d7278;
  font-size: 10px;
}
.checkboxWrapperBtm {
  width: 71%;
  margin: 0 auto;
}

.checkboxWrapperBtm .CheckboxWrapper {
  background: none !important;
  margin-top: 0px;
}

.checkboxWrapperBtm .CheckboxWrapper .PrivateSwitchBase-root-131 {
  padding: 3px;
}
.checkboxWrapperBtm .CheckboxWrapper .MuiIconButton-label {
  margin-right: 10px;
}

.minMax {
  width: 92%;
  margin: 0 auto;
}
.minMax p {
  margin: 0;
}
span.tenK,
span.tenLacs {
  float: left;
  color: #a0a0a0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

span.tenLacs {
  float: right;
}
element.style {
  clear: both;
}
.minTxt,
.maxTxt {
  float: left;
  color: #a0a0a0;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  padding-top: 0px;
  text-transform: capitalize;
}
.inputEditBox {
  width: auto;
  max-width: 66px;
  padding: 0;
  border: none;
}
.inputEditBox input {
  padding: 0;
  border: none;
  color: #7d6498;
}

.investmentTxt {
  text-align: center;
  font-size: 12px;
  color: #6d7278;
  margin: 7px auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.greenTickIcon {
  float: left;
  display: block;
}
.marTop {
  margin-top: 56px;
  position: relative;
}
.orangebg {
  background: #eb6024;
  padding: 50px 20px 80px;
}
.orangebg p {
  text-align: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.orangebg .lakhTxt {
  color: #fff;
}
.orangebg .returnTxt {
  font-size: 10px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
.posRel .investmentTxt {
  text-align: center;
  font-size: 12px;
  color: #6d7278;
  margin: 7px auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  background: white;
  width: 33%;
}
.maxTxt {
  float: right;
}
.clearfix {
  clear: both;
}
.lineHr {
  background: #f2f2f2;
  height: 1px;
  width: 82%;
  display: inline-block;
  margin: 0% 3%;
}
.posRel {
  position: relative;
}

/*faq css starts*/

.faqWrapper .makeStyles-heading-2 {
  color: #333333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.faqWrapper .MuiIconButton-label {
  color: #cccccc;
}
.faqWrapper .MuiExpansionPanelDetails-root .MuiTypography-body1 {
  color: #333333;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.faqWrapper .MuiCollapse-entered {
  background: #f8f8f8;
}
/*faq css Ends*/

/* Confirmation Personal Details starts */
.ConfimationDetailsWrapper .checkIcon {
  color: #00cc71;
  font-size: 14px !important;
  float: left;
  padding-top: 2px;
}

.ConfimationDetailsWrapper .panVerfiedTxt {
  margin: 0 0 0 20px;
  text-align: left;
  font-size: 12px;
  color: #6d7278;
  font-family: "Open Sans", sans-serif;
}
.ConfimationDetailsWrapper .MuiPaper-elevation1 {
  box-shadow: none;
  padding: 10px 16px;
}
.ConfimationDetailsWrapper #standard-read-only-input-label {
  color: #a0a0a0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.ConfimationDetailsWrapper .MuiInputBase-input {
  color: #333333;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-top: 0 !important;
  font-weight: 400;
  text-align: left;
}
.ConfimationDetailsWrapper label.MuiInputLabel-filled {
  font-size: 14px;
  color: #a0a0a0;
}
.ConfimationDetailsWrapper .MuiInput-underline:before,
.ConfimationDetailsWrapper .MuiInput-underline:hover:not(.Mui-disabled):before,
.MuiInput-underline:after {
  border: none !important;
}
.ConfimationDetailsWrapper {
  padding-bottom: 0px;
  padding-left: 0;
}

.ConfimationDetailsWrapper .addDetailWrapper .makeStyles-paper-2 {
  padding-left: 0;
  padding-right: 0;
}

.ConfimationDetailsWrapper .hrLine,
.ConfimationDetailsWrapper .hrLine2 {
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  margin: 10px 0;
}
.ConfimationDetailsWrapper .hrLine2 {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}
.ConfimationDetailsWrapper .emailInput input {
  padding-top: 20px !important;
  width: 100%;
  border: 1px solid #e7eaf1;
  border-radius: 5px;
  background: #fff;
  -webkit-appearance: none;
}

.ConfimationDetailsWrapper .MuiFilledInput-underline:hover:before {
  border: none !important;
}
.ConfimationDetailsWrapper .MuiFilledInput-underline:before {
  border: none;
}
.ConfimationDetailsWrapper .MuiFormControl-root {
  width: 100%;
}
.ConfimationDetailsWrapper label.MuiFormLabel-root.Mui-focused {
  color: #a0a0a0;
}

.verifyTxt {
  font-size: 12px;
  color: #6d7278;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 5px;
}
.padTopNone {
  padding-top: none;
}
.MuiFilledInput-underline:after {
  border: 1px solid #7d6498 !important;
}
.ConfimationDetailsWrapper .MuiSelect-select:focus {
  background: #fff !important;
  color: #333333;
  padding-left: 5px;
  padding-top: 3px;
}
.ConfimationDetailsWrapper .MuiSelect-icon {
  color: #cccccc;
  top: -3px;
}
.additionalDetailsTxt {
  color: #6d7278;
  font-size: 12px;
  text-align: left;
  background: #f8f8f8;
  padding: 10px 10px 10px 15px;
  font-weight: 300;
}
.addDetail button.addDetailBtn,
.addDetail button.addDetailBtnDisable {
  width: 92% !important;
  margin: 0 auto;
  display: block;
  color: #fff !important;
  background: #ed6010;
}
.addDetail button.addDetailBtnDisable {
  background: #a0a0a0;
}
/* .addDetail .addDetailBtn:disabled {
  background: #ed6010;
} */

.verticalLine {
  width: 1px;
  height: 50px;
  background: #e5e5e5;
  margin: 10px auto 0;
}

.expansionWrapper .addNomineeTxt {
  color: #333333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding-left: 10px;
}
.MuiGrid-spacing-xs-1 > .MuiGrid-item {
  padding: 0 !important;
}
.reqOTP .ConfimationDetailsWrapper .MuiPaper-elevation1 {
  padding-bottom: 0 !important;
}
.buttonYesNo {
  background: #fff !important;
  color: #7d6399 !important;
}
.buttonYesNoActive {
  background: #7d6498 !important;
  color: #fff !important;
}
.ConfimationDetailsWrapper .MuiGrid-spacing-xs-1 {
  margin: -14px;
}

.padTopBtmNone .MuiPaper-elevation1 {
  padding-bottom: 0;
}
em.fontSize16 {
  font-size: 14px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#transition-modal-title {
  font-size: 20px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
}
#transition-modal-description {
  font-size: 14px;
  color: #6d7278;
  font-family: "Open Sans", sans-serif;
}
.verificationCodeTxt {
  font-size: 12px;
  color: #ed6010;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  margin-top: 20px;
}
.ConfirmBtn {
  font-size: 14px;
  color: #ed6010 !important;
  font-family: "Roboto", sans-serif;
}

.pinTxtFielde .MuiFormControl-root {
  width: 100%;
  margin-bottom: 10px;
  color: #333333;
}
label.labelTxt {
  text-align: left;
  font-size: 12px;
}
div.proceed {
  color: #ed6010 !important;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}
#State,
#City {
  -webkit-appearance: none;
  height: 41px;
  display: block;
  border: 1px solid #e7eaf1;
  max-width: 100%;
  margin-top: 10px;
  background: white;
  outline: none;
  padding: 0 10px;
  color: #333333;
}
/* Confirmation Personal Details ends */
.uploadWrapper {
  width: 90% !important;
  margin: 0 auto !important;
}
.uploadWrapper .MuiPaper-elevation1 {
  box-shadow: none;
}
.uploadDocs {
  border-radius: 5px;
  position: relative;
  border: 1px solid #e7eaf1;
  background: #f8f8f8;
  width: 100%;
  /* min-height: 200px; */
  margin: 20px 0 0;
}
.closeButton {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #000 !important;
}
.uploadWrapper .addNomineeTxt {
  text-align: center;
  padding-left: 0;
}
.addNomineeTxt {
  text-align: center;
  padding-left: 0;
}
/* Additional Details starts */
.expansionWrapper {
  margin: 62px auto;
  width: 100%;
}
.expansionWrapper .MuiCollapse-entered {
  background: #f8f8f8;
}
.expansionWrapper .MuiInput-underline:before {
  border-bottom: none;
}
.textFieldWrapper .MuiFormControl-root {
  width: 100%;
  border: 1px solid #e7eaf1;
  margin: 10px 0 0;
  border-radius: 5px;
  background: #fff;
}
.expansionWrapper label.MuiInputLabel-animated {
  padding-left: 10px;
  color: #a0a0a0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding-top: 2px;
}
.expansionWrapper .MuiFormLabel-root.Mui-focused {
  font-size: 12px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: #a0a0a0;
}
.textFieldWrapper .makeStyles-root-208 .MuiTextField-root {
  margin: 8px 0 !important;
}
.textFieldWrapper .makeStyles-root-217 .MuiTextField-root {
  margin: 8px 0 !important;
}
.textFieldWrapper .MuiSelect-select.MuiSelect-select {
  background: #fff !important;
  padding-left: 8px !important;
  margin-top: 2px;
  height: 24px;
  color: #121212;
  padding-top: 13px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.textFieldWrapper .MuiInputBase-input {
  padding-left: 8px !important;
}

.expansionWrapper .MuiPaper-elevation1 {
  box-shadow: none;
  background: none;
}

.expansionWrapper button {
  background: none;
  color: #7d6399;
  border: none !important;
  box-shadow: none !important;
  width: auto !important;
}

.expansionWrapper .MuiButton-label {
  padding-top: 5px;
}
.perferncesTxt {
  font-size: 12px;
  padding: 20px 0 10px 18px;
  font-family: "Open Sans", sans-serif;
  color: #6d7278;
}

.expansionWrapper .MuiGrid-spacing-xs-1 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 16px;
  margin-bottom: 0;
  padding-left: 16px;
  padding-top: 10px;
}
form.textFieldWrapper {
  padding: 0 20px 16px;
  background: #f8f8f8;
  position: relative;
}
p.nomineeTxt {
  color: #6d7278;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
.addNomineeTxt2 {
  padding-left: 0 !important;
}
.paddingLeftNone {
  border-bottom: none !important;
}
.plusIcon {
  width: 19px;
  margin-top: -3px;
}
button.sendVerfiyBtn {
  text-align: center;
  width: 100% !important;
  display: block;
  background: #7d6399;
  margin: 12px 0;
  color: #fff !important;
}

/* Additional Details ends */

.progressBar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 21%;
  color: #eb6024 !important;
}

/* Upload Documents starts */

#poa {
  width: 100%;
  border: 1px solid #fff;
  background: white;
  height: 44px;
  color: #333333;
  -webkit-appearance: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.uploadDocs div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  padding: 8px;
  color: #333333;
}

.tickIconWrapper {
  overflow: hidden;
  width: 94%;
  margin: 0 auto;
  padding: 20px 0;
}
.tickIconWrapper .checkboxFltLft {
  float: none;
  font-size: 12px;
  color: #6d7278;
}
.tickIconWrapper .greenTickIcon {
  margin-top: 3px;
  font-family: "Open Sans", sans-serif;
}
.processingIcon {
  margin-right: 10px;
  float: left;
}
.processingTxt {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0;
}
.uploadDocWrapper .greyBg {
  padding: 16px;
  margin: 0px 0 0;
}
.tickIconWrapper .instruction2,
.uploadDocWrapper .instruction2,
.tickIconWrapper .MandatoryField {
  width: 30%;
  padding-bottom: 0px;
  font-size: 12px;
}
.uploadDocWrapper .instruction2 {
  width: auto;
  padding-bottom: 0 !important;
}
.tickIconWrapper .MandatoryField {
  width: 56%;
  text-align: right;
}
.proofAddWrapper .menuItms label {
  padding: 6px;
}
.proofAddWrapper .menuItms {
  width: 100%;
  background: #fff;
  border: 1px solid #e7eaf1;
  border-radius: 5px;
  padding: 6px 0 0 6px;
}
.proofAddWrapper .menuItms .MuiInput-underline:before {
  border-bottom: none;
}
.proofAddWrapper .menuItms .MuiSelect-select.MuiSelect-select {
  background: none;
}
.tickIconWrapper button,
.uploadDocWrapper button {
  width: 100%;
  border: 1px solid #e7eaf1;
  background: none;
  color: #212121;
  text-transform: capitalize;
}
.tickIconWrapper div.capture button,
.uploadDocWrapper div.capture button {
  float: right;
}
.tickIconWrapper .addNomineeTxt,
.uploadDocWrapper .addNomineeTxt {
  color: #979797;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding-top: 6px;
}
.tickIconWrapper svg,
.proofAddWrapper svg {
  color: #bfbfbf;
}
.proofAddWrapper .menuItms .MuiFormLabel-root.Mui-focused {
  color: #333333;
}
.bottomBtn p {
  padding-left: 16px;
  color: #6d7278;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
.bottomBtn .submitBtn,
.shareWrapper .submitBtn {
  background: none !important;
  color: #7d6399 !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  width: 100%;
  margin: 10px 0 20px;
}
/* Upload Documents ends */

/* Feedback starts */
.feedback {
  background: url("./images/feedbackBg.svg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.feedback .headerWrapper {
  background: none !important;
  opacity: 0.5;
}

.whiteBg strong {
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: block;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  clear: both;
}
.FBwrapper {
  width: 92%;
  margin: 65px auto 0;
  color: #333333;
  overflow: auto;
  height: 600px;
}
.FBwrapper p {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.whiteBg {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.whiteBg p {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}
.chip {
  text-align: center;
}
button.chipBtn {
  width: auto;
  padding: 10px 12px;
  margin: 10px 10px 5px 0;
  background: #fff;
  color: #7d6399;
  font-size: 10px;
  border: 1px solid #e7eaf1;
}
button.chipBtn :hover {
  color: #fff;
}
.chip .remarksBox {
  width: 100%;
  margin: 20px 0 0;
}
.remarksBox .MuiFilledInput-root {
  background: #fff;
  border: 1px solid #e7eaf1;
}
.remarksBox .MuiInputLabel-filled {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #a0a0a0;
}
.remarksBox .MuiFilledInput-underline:before {
  border-bottom: none;
}
.FBwrapper .feedbackSubmitBtn {
  width: 100%;
  background: #eb6024;
  font-size: 12px;
  color: #fff;
  margin: 20px auto;
  padding: 10px;
}

.feedbackSubmitBtn.MuiButton-containedPrimary:hover {
  background: #eb6024;
  color: #fff;
}

.shareWrapper button svg {
  font-size: 1.1em;
  vertical-align: middle;
}

.shareWrapper {
  margin-top: 30px;
}
.emoji {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 20px;
}

.emojiOne,
.emojiTwo,
.emojiThree,
.emojiFour,
.emojiFive {
  background: url("./images/emojis/emojiOne.svg") no-repeat;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 auto !important;
}
.emojiTwo {
  background: url("./images/emojis/emojiTwo.svg") no-repeat;
}
.emojiThree {
  background: url("./images/emojis/emojiThree.svg") no-repeat;
}
.emojiFour {
  background: url("./images/emojis/emojiFour.svg") no-repeat;
}
.emojiFive {
  background: url("./images/emojis/emojiOne.svg") no-repeat;
}
.emojiOne:hover {
  background: url("./images/emojis/emojiOneHover.svg") no-repeat;
}
.emojiTwo:hover {
  background: url("./images/emojis/emojiTwoHover.svg") no-repeat;
}
.emojiThree:hover {
  background: url("./images/emojis/emojiThreeHover.svg") no-repeat;
}
.emojiFour:hover {
  background: url("./images/emojis/emojiFourHover.svg") no-repeat;
}
.emojiFive:hover {
  background: url("./images/emojis/emojiFiveHover.svg") no-repeat;
}
/* Feedback ends */

/* congratulations starts */

.congratulationsWrapper {
  margin-top: 56px;
  overflow: hidden;
}
.bannerBox {
  background: url("./images/congratulationsBg.svg") no-repeat center 0;
  min-height: 240px;
  width: 100%;
  background-size: cover;
}

.bannerBox img {
  display: block;
  margin: 0 auto;
  padding: 20px 0 10px;
}

.bannerBox h2 {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
}
.downlaodReceipt p {
  font-size: 12px;
  text-align: center;
  color: #121212;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}
.centerDiv {
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
}
.downlaodReceipt .DownloadReciptBtn {
  background: #fff;
  border: 1px solid #e7eaf1;
  width: 100%;
  color: #ed6010;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.downlaodReceipt .MuiButton-containedPrimary:hover {
  background: #ed6010;
  color: #fff;
}

.linkDiv {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
div.borderTop {
  border-top: 1px solid #e8e8e8;
}

.linkDiv p {
  font-size: 14px;
  color: #7d6498;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.linkDiv p:hover {
  color: #ed6010;
}
/* congratulations ends */

/* Deposit Summary starts */
.DSwrapper {
  overflow: hidden;
  margin: 65px auto 0;
  padding: 10px 20px 0;
}
.appNoTxt {
  font-size: 14px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
}
.appNoTxt.algnRite {
  text-align: right;
}

.investmentAmountBox {
  border-top: 1px solid #f2f2f2;
  margin: 10px auto;
  padding: 10px 20px;
  position: relative;
}
.investmentAmountBox .numberTxt {
  font-size: 16px;
  width: 100%;
  color: #333333 !important;
  font-family: "Roboto", sans-serif;
  float: left;
  /* padding-left: 20px; */
  margin-bottom: 3px;
}
p.liteGrayTxt,
p.darkBlk,
p.purpleColor,
p.darkBlk2 {
  font-size: 12px;
  color: #6d7278;
  font-family: "Open Sans", sans-serif;
  /* padding-left: 20px; */
  margin-bottom: 0;
  margin-top: 3px;
}
.DS .greyBg {
  padding-top: 20px;
  margin: 0 auto;
  padding: 10px 20px;
}
p.darkBlk {
  color: #333333;
}
.shortSentence {
  text-overflow: ellipsis;
  width: 161px;
  white-space: nowrap;
  overflow: hidden;
}
.digitalPhysicalBtn {
  width: 93%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.digitalPhysicalBtn p {
  font-size: 14px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.digitalPhysicalBtn button {
  background: #ffffff;
  color: #7d6498;
  width: 49%;
  float: left;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border: 1px solid #e7eaf1;
}

.digitalPhysicalBtnActive {
  background: #7d6498 !important;
  color: #fff !important;
}

.digitalPhysicalBtn .floatRite {
  float: right;
}
p.checkIconTXT {
  font-size: 10px;
  color: #6d7278;
  font-family: "Open Sans", sans-serif;
  clear: both;
}
.checkWrapper .MuiCheckbox-colorSecondary.Mui-checked {
  color: #979797;
  padding: 0;
}
.checkWrapper .MuiCheckbox-root {
  color: #e7eaf1;
  padding: 0;
}
.checkWrapper .MuiSvgIcon-root {
  width: 0.8em;
  height: 0.8em;
}
.checkIconTXT small {
  float: right;
  width: 85%;
  text-align: left;
  padding-right: 10px;
  font-size: 10px;
}

.checkIconTXT .PrivateSwitchBase-root-232 {
  padding: 0 0px 19px 9px;
}

.checkWrapper button,
.checkWrapper button:hover {
  background: #eb6024;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #e7eaf1;
  width: 93%;
  display: block;
}
/* Deposit Summary ends */

/* .container {
  padding: 0 10px;
  background: #fff;
}

.slick-slide img {
  margin: auto;
} */

/* New Open New FD starts */
.newFD,
.login {
  margin-top: 56px;
  overflow: hidden;
}
.heroBanner img {
  width: 100%;
}
.newFD button,
.newFD button:hover {
  width: 93%;
  margin: 10px auto 20px;
  padding: 10px;
  background: #eb6024;
  color: #fff;
  display: block;
}

.newFD .MuiAppBar-colorPrimary {
  background: #fff;
  color: #222222;
}

.newFD .MuiTab-wrapper {
  font-size: 12px;
  color: #6d7278;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.newFD .firstTab p {
  font-size: 16px;
  color: #6d7278;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}
.newFD .firstTab p.fdTxt {
  font-size: 18px;
  color: #7d6498;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.tabTxt p.benefitsTxt {
  font-size: 12px;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.firstTab .MuiBox-root-179 {
  padding: 0;
}
.tabInside img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.firstTab .tabInside p,
.firstTab .tabInside p.lightTxt {
  font-size: 10px;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.firstTab .tabInside p.lightTxt {
  font-weight: 400;
  margin-top: 0;
}
.newFD .PrivateTabIndicator-colorSecondary-147 {
  background: #eb6024;
}
/* New Open New FD ends */

/* Verified Icon css starts */
.verifiedWrapper {
  text-align: center;
  margin: 40% auto;
}

.verifiedWrapper p {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 0;
}
/* Verified Icon css ends */

/* My Deposit css starts */
.cloaseBtnIcon {
  float: right;
  margin-top: 14px;
}
.ConfirmBtnMyDepositeModal,
.ConfirmBtnMyDepositeModal:hover {
  background: #eb6024 !important;
  width: 100%;
  color: #fff !important;
  padding: 10px !important;
}

.scrollBox {
  overflow: auto;
  height: 196px;
}
.scrollBox > fieldset {
  width: 100%;
}

.selectPanCard .MuiFormControl-root {
  width: 100%;
}
.selectPanCard {
  border-top: 1px solid #e7eaf1;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.borderTopNone {
  border-top: none !important;
}

.radioBtnColor svg {
  color: #eb6024;
}
.panHolderName {
  margin: 0 0 0 32px;
  font-size: 13px;
  color: #979797;
}
.myDepositWrapper .myDepositeBtnWrper {
  margin: 0px auto 20px;
}
.myDepositWrapper,
.resumeFDWrapper {
  overflow: hidden;
}
.myDepositBg {
  margin-top: 54px;
}

.bgIcon {
  padding: 20px;
  overflow: hidden;
  background: url("./images/myDeposit/myDepositBg.svg") no-repeat;
  width: auto;
  min-height: 137px;
  background-size: cover;
}
.bgIcon img {
  float: left;
  display: block;
  margin-right: 15px;
}
.bgIcon p {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin: 15px 0 0 0;
}

.boxOne {
  background: #fff;
  color: #000;
  text-align: center;
  width: 48%;
  float: left;
  padding-bottom: 12px;
  border-radius: 5px;
}
.twoBoxes {
  clear: both;
  margin: 34px 0 10px;
  overflow: hidden;
}
.boxOne p {
  color: #333333;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
p.lightTxt {
  color: #6d7278;
  font-weight: 400;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  margin-top: 3px;
}
p.orangeColor {
  color: #eb6024;
}
.myDepositWrapper .vkgg {
  width: 98%;
}
.paddingAll .MuiPaper-elevation1 {
  padding: 0 20px;
  margin: 20px 20px 0;
}
.paddingAll .MuiPaper-elevation1:hover,
.pendingKYC:hover {
  border-bottom: 2px solid #7d6498;
}

.paddingAll p,
.pendingKYC p {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.pendingKYC p {
  width: 50%;
  float: left;
}
.pendingKYC .pendingTxt {
  text-align: right;
  color: #7d6399;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.pendingKYC .maturityTxtBox .leftTxt {
  color: #e02020;
}
div.leftTxt {
  width: 80%;
  float: left;
  color: #6d7278;
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding-top: 3px;
}
div.riteIcon {
  float: right;
}
div.riteIcon svg {
  font-size: 1em;
  color: #7d6498;
}
.myDepositWrapper .greyBg {
  padding-top: 0;
}
button.openFDbtn,
.contactUsWrapper button.openFDbtn {
  height: 50px;
  width: 100%;
  display: block;
  margin: 30px auto;
  padding: 10px;
  background: #7d6498;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

button.openFDbtn svg {
  margin-right: 6px;
  vertical-align: top;
}
.myDepositWrapper .linkWrapper {
  height: auto;
  margin: 0;
  width: 100%;
}
.myDepositWrapper .linkWrapper .linkDiv p {
  font-size: 14px;
  text-align: left;
  color: #212121;
  margin: 2px 0;
}
.myDepositWrapper .linkWrapper .linkDiv img {
  vertical-align: middle;
  margin-right: 10px;
}

.myDepositWrapper .carousalWrapper .slick-list {
  padding: 0 0px !important;
  height: auto;
}
.myDepositWrapper .carousalWrapper {
  height: auto;
  margin: 20px auto;
}

.pendingKYC {
  /* margin-top: 35%; */
  /* width: 88%; */
  padding: 1px 20px 20px 20px;
  height: 66px;
}
/* My Deposit css ends */

/* Contact Us css starts */
.contactUsWrapper {
  overflow: hidden;
  padding: 30px;
}
.contactUsWrapper img {
  margin: 0 auto;
  display: block;
}

.contactUsWrapper p {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #121212;
  text-align: left;
  margin: 20px 0;
}
.contactUsWrapper button.openFDbtn {
  width: 100%;
  margin-bottom: 6px;
}

.contactUsWrapper p.greyTXT {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #a0a0a0;
  text-align: center;
  margin: 0px 0;
}
/* Contact Us css ends */

/* preconfirmationWrapper css starts */
.preconfirmationWrapper {
  overflow: hidden;
  padding: 0 20px;
}

.preconfirmationWrapper p,
.preconfirmationWrapper p.darkTxt {
  color: #6d7278;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.preconfirmationWrapper p.darkTxt {
  color: #000 !important;
  font-weight: 500;
}
.preconfirmationWrapper .verifyTxt {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}
/* preconfirmationWrapper css ends */

/* fdSummaryWrapper css starts */
.fdSummaryWrapper {
  overflow: hidden;
}
.fdSummaryWrapper div.MuiGrid-container {
  padding: 20px 20px 10px !important;
}
.depIDtxt,
.depIDtxtRite {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
.depIDtxtRite {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: right;
}
.maturityAmtTxt {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 28px;
  margin-bottom: 0;
}
.maturityAmtTxtDown {
  font-family: "Open Sans", sans-serif;
  color: #6d7278;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 2px;
}
.rateInterestTxt {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 0;
  color: #333333;
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
}
p.hrLine {
  width: 1px;
  min-height: 63px;
  height: 100%;
  background: #e5e5e5;
  margin: 0 auto;
}
.buttonShareDownload {
  border-top: 1px solid #e5e5e5;
  width: 90%;
  overflow: hidden;
  padding: 0 20px 20px;
}
.buttonShareDownload button {
  width: 48%;
  float: left;
  margin-top: 20px;
  color: #7d6399;
  background: #fff;
}
.buttonShareDownload button svg {
  font-size: 1.1em;
  padding-left: 10px;
}

.buttonShareDownload .floatRite {
  float: right;
}

/* fdSummaryWrapper css ends */

/* landscape rotation stop css starts */
.rotateContainerLandImg {
  display: block;
  margin: 0 auto;
}
#rotateContainer,
#rotateContainer-land,
#rotateContainer-port {
  display: none;
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #fixedDeposit {
    display: none;
  }
  #rotateContainer-port {
    width: 100%;
    display: block;
    min-height: 500px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #fixedDeposit {
    display: none;
  }
  #rotateContainer-port {
    display: block;
  }
}
@media (max-width: 600px) and (min-width: 480px) and (orientation: landscape) {
  .rotateContainerLandImg {
    max-height: 300px;
    margin: auto;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 600px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #fixedDeposit {
    display: none;
  }
  #rotateContainer-port {
    display: block;
  }
}

@media (min-width: 620px) and (max-width: 900px) and (orientation: landscape) {
  .rotateContainerLandImg {
    max-height: 380px;
    margin: auto;
  }
}
@media (min-width: 901px) and (max-width: 1024px) and (orientation: landscape) {
  .rotateContainerLandImg {
    max-height: 600px;
    margin: auto;
  }
}

@media (min-width: 620px) and (max-width: 2100px) and (orientation: landscape) {
  #rotateContainer-port {
    display: block;
    min-height: auto;
  }
  #fixedDeposit {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 486px) {
  #rotateContainer-port {
    display: none;
  }
}
/* landscape rotation stop css ends */

/*  FD Tab bWrapper css starts */

.fdTabWrapper .greyBg {
  padding-bottom: 0;
  padding-top: 0;
}
.tabOne {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  padding: 6px 20px;
}

.tabOne p {
  overflow: hidden;
  width: 80%;
  float: left;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
p.arrowImg {
  float: right;
  color: #7d6498;
  width: 20%;
  text-align: right;
}
.arrowImg svg {
  font-size: 1em;
}

.showMoreDiv .MuiPaper-elevation1 {
  box-shadow: none;
}
.showMoreDiv .MuiExpansionPanelSummary-content {
  margin-bottom: 0;
  margin-top: 0;
}
p.heading {
  color: #eb6024;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
}
.showMoreDiv .MuiExpansionPanelSummary-content.Mui-expanded {
  margin-bottom: 0;
}
.showMoreDiv div.MuiGrid-container {
  padding-top: 0;
}
.redTxt {
  color: #e02020 !important;
}
.orangeTxt {
  color: #ed6010 !important;
}
.showMoreDiv .MuiCollapse-container {
  background: #f8f8f8;
}
/*  FD Tab bWrapper css ends */

/*  Break FD bWrapper css starts */

.BreakfdWrapper .MuiGrid-container {
  padding: 20px;
  margin-bottom: 0px;
}
.BreakfdWrapper .buttonShareDownload {
  width: 90%;
  overflow: hidden;
  padding: 0 20px 10px;
  border: none;
}

.BreakfdWrapper .buttonShareDownload button {
  width: 100%;
  margin-top: 20px;
  color: #ef6000;
  background: #fff;
  padding: 12px;
}
.BreakfdWrapper .buttonShareDownload button:hover {
  color: #fff;
  background: #eb6024;
}

.BreakfdWrapper .accTxt,
.BreakfdWrapper .maturityAmtTxtDown {
  margin: 6px;
  text-align: center;
}

.tnc {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
.tnc .MuiCheckbox-colorSecondary.Mui-checked {
  color: #7d6399;
  float: left;
}
.tnc p {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: left;
}
.tnc svg {
  font-size: 0.8em;
  margin-top: 2px;
}
/*  Break FD bWrapper css ends */

/*  Tax Corner Wrapper css starts */

.formSelect .MuiFormControl-root {
  width: 100%;
}
.taxCornerWrapper {
  padding: 0 20px;
  overflow: hidden;
}
.yesNoBtnWrapper h3 {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.taxCornerWrapper .taxActTxt {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.formSelect label,
.textFieldDiv label {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.formSelect .MuiFormLabel-root.Mui-focused {
  color: #7d6399;
}
p.detailFormTxt {
  font-size: 12px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.yesNoBtnWrapper .digitalPhysicalBtn {
  width: 100%;
}
.formSelect {
  margin: 20px 0;
  width: 100%;
  float: left;
}
.formSelect .MuiNativeSelect-select:focus {
  background: #fff;
}
.textFieldDiv .MuiFormControl-root {
  width: 100%;
}
.textFieldDiv .MuiFilledInput-root,
.textFieldDiv .MuiFilledInput-root:hover {
  background: #fff;
  margin-bottom: 20px;
}
.textFieldDiv .MuiFilledInput-input {
  padding-left: 0;
}
.textFieldDiv .MuiInputLabel-formControl {
  left: -12px;
}
.textFieldDiv .inputHeightChange input {
  margin-top: 16px;
}
.taxCornerWrapper button.proceedButton {
  width: 100%;
  background: #fff !important;
  color: #7d6399;
  border: 1px solid #a0a0a0;
}
.taxCornerWrapper button.proceedButton:hover {
  background: #7d6399 !important;
  color: #fff;
}
/*  Tax Corner Wrapper css ends */

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* resume fd css starts */
.myDepositBg p.resumeText {
  font-size: 12px;
  color: #fff;
}
.resumeFDWrapper .pendingKYC {
  margin: 10px 0;
}

.resumeFDWrapper .pendingKYC p {
  width: 100%;
}
.resumeFDWrapper .leftBox,
.resumeFDWrapper .riteBox {
  width: 50%;
  float: left;
}
.resumeFDWrapper .leftBox p {
  color: #6d7278;
  font-size: 11px;
  margin: 6px 0 0 0;
}

.resumeFDWrapper .riteBox p {
  color: #121212;
  font-size: 18px;
  margin: 6px 0 0 0;
}

.resumeFDWrapper .whiteBox {
  background: #fff;
  padding: 16px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px auto 0;
}
.textAlignRite {
  text-align: right !important;
}
.textAlignRite svg {
  font-size: 13px;
}
.stepper {
  width: 95%;
  margin: 0 auto;
}

.step {
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
}

.v-stepper {
  position: relative;
  /*   visibility: visible; */
}

/* regular step */
.step .circle {
  /* background-color: white;
  border: 3px solid #e5e5e5;
  border-radius: 100%; */
  width: 20px; /* +6 for border */
  height: 20px;
  display: inline-block;
  background: url("../src/images/myDeposit/stepperInactiveIcon.svg") 6px 0
    no-repeat;
}

.step .line {
  top: 17px;
  left: 12px;
  /*   height: 120px; */
  height: 100%;

  position: absolute;
  border-left: 3px solid #e5e5e5;
}

.step.completed .circle {
  visibility: visible;
  background: url("../src/images/myDeposit/stepperActiveIcon.svg") 6px 0
    no-repeat;
  border-color: #eb6024;
}

.step.completed .line {
  border-left: 3px solid #eb6024;
}

.step.active .circle {
  visibility: visible;
  border-color: #e5e5e5;
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.content {
  margin-left: 20px;
  display: inline-block;
}
.content p {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #212121;
  font-weight: 500;
}
button.continue {
  padding: 16px;
  width: 96%;
  background: #eb6024;
  border: none;
  outline: none;
  margin: 50px auto 6px;
  display: block;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.stepperColorChange {
  color: #6d7278 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 46px !important;
}

.resumeFDWrapper .greyBg {
  background: #fff;
  margin: 0 auto;
  width: 90%;
  padding: 20px 0;
}
.resumeFDWrapper p.profileColorChange {
  font-size: 14px;
  color: #121212;
  font-family: "Open Sans", sans-serif;
}

.resumeFDWrapper p.darkTxt2 {
  font-size: 14px;
  color: #6d7278;
  font-family: "Roboto", sans-serif;
}

.resumeFDWrapper .checkIcon {
  color: #00cc71;
  font-size: 14px !important;
  float: left;
  padding-top: 2px;
}

.resumeFDWrapper .bgIcon {
  min-height: 50px;
}
.resumeFDWrapper .resumeTxt {
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.resumeFDWrapper .panVerfiedTxt {
  padding: 0 0 0 3px;
  color: #a0a0a0;
  font-size: 12px;
  float: left;
  margin: 3px;
}
.marBtm100 {
  margin-bottom: 100px !important;
}
/* resume fd css ends */

/* login css starts */
.login p {
  text-align: center;
  color: #a0a0a0;
  font-size: 13px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  margin: 40px 0 80px;
}

.login .loginInput {
  text-align: center;
  width: 89%;
  color: #a0a0a0;
  padding: 10px;
  margin: 0 auto;
  display: block;
  outline: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 14px;
}
.login .MuiFormControl-root {
  width: 90%;
  border-color: 1px solid #a0a0a0;
}
.login label {
  text-align: center;
  width: 100%;
  color: #a0a0a0;
}

.login button.loginBtn {
  width: 90%;
  margin: 0 auto 20px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eb6024;
  padding: 11px;
  color: #fff;
}
.login .MuiFormLabel-root.Mui-focused {
  text-align: center !important;
  color: #eb6024 !important;
  width: 100% !important;
  display: block !important;
  margin: 0 auto !important;
}
.login .MuiInputLabel-shrink {
  transform-origin: top center !important;
}
.loginInput .MuiInputBase-input {
  text-align: center;
}
.login button.resendOTPbtn {
  background: none;
  border: none;
  outline: none;
  box-shadow: none !important;
  color: #eb6024;
  margin-top: 20px;
}

/* login css ends */
